In [1]:
import pandas as pd
# A table of data is stored as a pandas DataFrame
# Each column in a DataFrame is a Series

In [4]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=['c0','c1','c2']
                 , index=['r0','r1','r2'], )
df[['c1','c2']]
# df

    c1  c2
r0   2   3
r1   5   6
r2   8   9

In [35]:
obesity_data = pd.read_csv("obesity_prediction.csv")
obesity_data.head()
obesity_data.tail(10)
obesity_data.sample(12, random_state=23)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2,Male,23.000000,1.800000,77.000000,yes,no,2.000000,3.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
1759,Male,30.945369,1.759647,120.009392,yes,yes,2.766612,3.000000,Sometimes,no,2.173417,no,1.089344,1.198439,Sometimes,Automobile,Obesity_Type_II
1031,Female,18.863875,1.560029,71.728069,yes,no,3.000000,3.339914,Sometimes,no,2.000000,no,1.000000,1.000000,Sometimes,Public_Transportation,Overweight_Level_II
1239,Female,23.000000,1.610820,82.532994,yes,yes,2.096630,2.879541,Sometimes,no,2.432967,no,1.887012,0.000000,no,Public_Transportation,Obesity_Type_I
1191,Male,23.335391,1.713380,82.085549,yes,yes,2.716909,2.598079,Sometimes,no,2.905450,no,1.600431,0.176892,Sometimes,Public_Transportation,Overweight_Level_II
852,Female,21.016623,1.755427,78.300084,yes,yes,3.000000,1.000000,Sometimes,no,2.000000,no,2.877473,0.000000,Sometimes,Public_Transportation,Overweight_Level_I
1502,Male,27.968765,1.673767,89.995034,yes,yes,1.961069,3.000000,Sometimes,no,2.652327,no,0.569310,0.319008,Sometimes,Automobile,Obesity_Type_I
1232,Male,31.315593,1.673352,90.000000,yes,yes,2.190110,2.029858,Sometimes,no,2.348981,no,1.946907,0.000000,Sometimes,Automobile,Obesity_Type_I
64,Female,21.000000,1.660000,57.000000,yes,yes,2.000000,3.000000,Frequently,no,1.000000,no,1.000000,1.000000,no,Public_Transportation,Normal_Weight
986,Female,28.583944,1.578560,65.522744,yes,no,2.000000,2.283673,Sometimes,no,1.970622,no,1.863258,1.581703,Sometimes,Public_Transportation,Overweight_Level_II
897,Male,26.703710,1.802871,85.770013,yes,yes,2.872121,3.051804,Sometimes,no,2.111913,no,0.843709,0.153559,Sometimes,Automobile,Overweight_Level_I
752,Male,21.142432,1.855353,86.413388,yes,yes,2.000000,3.000000,Sometimes,no,1.345298,no,1.097905,1.000000,Sometimes,Public_Transportation,Overweight_Level_I

In [36]:
# obesity_data.index
# obesity_data.size
obesity_data.describe()
obesity_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2111 entries, 0 to 2110
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Gender          2111 non-null   object
 1   Age             2111 non-null   float64
 2   Height          2111 non-null   float64
 3   Weight          2111 non-null   float64
 4   family_history  2111 non-null   object
 5   FAVC            2111 non-null   object
 6   FCVC            2111 non-null   float64
 7   NCP             2111 non-null   float64
 8   CAEC            2111 non-null   object
 9   SMOKE           2111 non-null   object
 10  CH2O            2111 non-null   float64
 11  SCC             2111 non-null   object
 12  FAF             2111 non-null   float64
 13  TUE             2111 non-null   float64
 14  CALC            2111 non-null   object
 15  MTRANS          2111 non-null   object
 16  Obesity         2111 non-null   object
dtypes: float64(8), object(9)
memory usage: 280.5+ KB

In [7]:
obesity_data = obesity_data.set_index("Height")
obesity_data

,Gender,Age,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
Height,,,,,,,,,,,,,,,,
1.620000,Female,21.000000,64.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,0.000000,1.000000,no,Public_Transportation,Normal_Weight
1.520000,Female,21.000000,56.000000,yes,no,3.0,3.0,Sometimes,yes,3.000000,yes,3.000000,0.000000,Sometimes,Public_Transportation,Normal_Weight
1.800000,Male,23.000000,77.000000,yes,no,2.0,3.0,Sometimes,no,2.000000,no,2.000000,1.000000,Frequently,Public_Transportation,Normal_Weight
1.800000,Male,27.000000,87.000000,no,no,3.0,3.0,Sometimes,no,2.000000,no,2.000000,0.000000,Frequently,Walking,Overweight_Level_I
1.780000,Male,22.000000,89.800000,no,no,2.0,1.0,Sometimes,no,2.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Overweight_Level_II
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1.710730,Female,20.976842,131.408528,yes,yes,3.0,3.0,Sometimes,no,1.728139,no,1.676269,0.906247,Sometimes,Public_Transportation,Obesity_Type_III
1.748584,Female,21.982942,133.742943,yes,yes,3.0,3.0,Sometimes,no,2.005130,no,1.341390,0.599270,Sometimes,Public_Transportation,Obesity_Type_III
1.752206,Female,22.524036,133.689352,yes,yes,3.0,3.0,Sometimes,no,2.054193,no,1.414209,0.646288,Sometimes,Public_Transportation,Obesity_Type_III
1.739450,Female,24.361936,133.346641,yes,yes,3.0,3.0,Sometimes,no,2.852339,no,1.139107,0.586035,Sometimes,Public_Transportation,Obesity_Type_III
1.738836,Female,23.664709,133.472641,yes,yes,3.0,3.0,Sometimes,no,2.863513,no,1.026452,0.714137,Sometimes,Public_Transportation,Obesity_Type_III

In [5]:
df1 = pd.read_csv("obesity_prediction.csv", index_col=3) # Fourth column becomes index
# df1.reset_index().to_csv("mydata.csv", index=None)
# df1.reset_index() will reset the position of the column to the first column, if index=None is given, else move the column's index position to its original position.
df1.reset_index().sample(8, random_state=2).to_json()

'{"Weight":{"1523":120.860386,"1997":153.959945,"460":55.0,"137":80.0,"1092":81.92991,"745":86.963765,"527":42.0,"1253":106.49141},"Gender":{"1523":"Male","1997":"Female","460":"Female","137":"Male","1092":"Male","745":"Male","527":"Female","1253":"Male"},"Age":{"1523":27.991467,"1997":20.102241,"460":18.0,"137":44.0,"1092":22.18881,"745":26.69858,"527":21.0,"1253":23.0},"Height":{"1523":1.82559,"1997":1.816868,"460":1.62,"137":1.6,"1092":1.717722,"745":1.816298,"527":1.52,"1253":1.753716},"family_history":{"1523":"yes","1997":"yes","460":"yes","137":"yes","1092":"yes","745":"no","527":"no","1253":"yes"},"FAVC":{"1523":"yes","1997":"yes","460":"yes","137":"no","1092":"yes","745":"yes","527":"yes","1253":"yes"},"FCVC":{"1523":3.0,"1997":3.0,"460":2.0,"137":2.0,"1092":2.0,"745":2.341133,"527":3.0,"1253":2.740633},"NCP":{"1523":3.0,"1997":3.0,"460":3.0,"137":3.0,"1092":1.152521,"745":1.578521,"527":1.0,"1253":3.0},"CAEC":{"1523":"Sometimes","1997":"Sometimes","460":"Frequently","137":"Sometimes","1092":"Sometimes","745":"Sometimes","527":"Frequently","1253":"Sometimes"},"SMOKE":{"1523":"no","1997":"no","460":"no","137":"yes","1092":"no","745":"no","527":"no","1253":"no"},"CH2O":{"1523":3.0,"1997":2.414739,"460":1.0,"137":3.0,"1092":1.723159,"745":2.0,"527":1.0,"1253":2.081005},"SCC":{"1523":"no","1997":"no","460":"no","137":"no","1092":"no","745":"no","527":"no","1253":"no"},"FAF":{"1523":0.691369,"1997":1.917014,"460":1.0,"137":0.0,"1092":1.39016,"745":2.0,"527":0.0,"1253":0.650235},"TUE":{"1523":1.415536,"1997":0.927982,"460":1.0,"137":0.0,"1092":1.094941,"745":0.554072,"527":0.0,"1253":0.76906},"CALC":{"1523":"Sometimes","1997":"Sometimes","460":"no","137":"no","1092":"Sometimes","745":"no","527":"Sometimes","1253":"Sometimes"},"MTRANS":{"1523":"Public_Transportation","1997":"Public_Transportation","460":"Public_Transportation","137":"Motorbike","1092":"Public_Transportation","745":"Automobile","527":"Public_Transportation","1253":"Public_Transportation"},"Obesity":{"1523":"Obesity_Type_II","1997":"Obesity_Type_III","460":"Normal_Weight","137":"Obesity_Type_I","1092":"Overweight_Level_II","745":"Overweight_Level_I","527":"Insufficient_Weight","1253":"Obesity_Type_I"}}'

In [37]:
loc_data = obesity_data.loc[1:19,"Gender":"family_history"]
# loc_data, obesity_data.head(19)
loc_data = obesity_data.loc[2100: , 'Age':'family_history']
loc_data

            Age    Height      Weight family_history
2100  25.777565  1.628205  107.378702            yes
2101  25.722004  1.628470  107.218949            yes
2102  25.765628  1.627839  108.107360            yes
2103  21.016849  1.724268  133.033523            yes
2104  21.682367  1.732383  133.043941            yes
2105  21.285965  1.726920  131.335786            yes
2106  20.976842  1.710730  131.408528            yes
2107  21.982942  1.748584  133.742943            yes
2108  22.524036  1.752206  133.689352            yes
2109  24.361936  1.739450  133.346641            yes
2110  23.664709  1.738836  133.472641            yes

In [20]:
obesity_data.iloc[[50,300,520,930,2104], 0:10]

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE
50,Female,21.000000,1.610000,54.500000,yes,yes,3.0,3.000000,Sometimes,no
300,Male,26.000000,1.700000,70.000000,no,yes,2.0,3.000000,Sometimes,yes
520,Female,19.000000,1.556211,42.339767,no,yes,3.0,2.084600,Sometimes,no
930,Female,21.009437,1.606810,67.773914,yes,yes,2.0,3.156309,no,no
2104,Female,21.682367,1.732383,133.043941,yes,yes,3.0,3.000000,Sometimes,no

In [37]:
obesity_data.at[1156, 'Gender']
obesity_data.iat[1156, 3]

np.float64(84.451423)

In [57]:
obesity_data[(obesity_data["Weight"]>64) & (obesity_data["Obesity"]=="Normal_Weight")].loc[,"Gender":'family_history']

     Gender   Age  Height  Weight family_history
2      Male  23.0    1.80    77.0            yes
9      Male  22.0    1.72    68.0            yes
15   Female  22.0    1.70    66.0            yes
24     Male  21.0    1.85    68.0            yes
26     Male  21.0    1.70    65.0            yes
..      ...   ...     ...     ...            ...
486    Male  23.0    1.75    75.0             no
488    Male  21.0    1.88    84.0            yes
491    Male  25.0    1.66    68.0             no
493    Male  20.0    1.80    65.0             no
494  Female  18.0    1.67    66.0             no

[115 rows x 5 columns]

In [109]:
smoker = obesity_data[obesity_data['Age']> 32].copy()
smoker.loc[:, 'SMOKE']='yes'

# to assign the 100:200 rows, where column 'SMOKE' to "NEVER"
smoker.iloc[100:200, smoker.columns.get_loc("SMOKE")] = "NEVER"
smoker.to_csv('smoker1.csv')

In [46]:
df2 = obesity_data.copy()
# def increment_age(x):
#     return x+5

# Calling the apply function passing the increment_age() as an argument.
# df2["Age"].head(10), df2["Age"].apply(increment_age).head(10)

# Alternative method using the lambda funciton.
# df2_decrement = df2["Age"].apply(lambda x: x-5)
# print(df2_decrement.head(12))

# df2['age_category'] = df2['Age'].apply(lambda x:'Young' if x<30 else 'Matured')
# df2.sample(4)

import numpy as np
df3 = obesity_data.copy()
df3['age_using_numpy'] = np.where(df3['Age'] <25, 'Very Young', 'Matured')
df3.sample(12)

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity,age_using_numpy
1390,Female,22.676243,1.620938,82.283185,yes,yes,1.967061,1.000000,Sometimes,no,2.548651,no,0.249264,1.516731,Sometimes,Public_Transportation,Obesity_Type_I,Very Young
1960,Female,25.950898,1.649867,104.791035,yes,yes,3.000000,3.000000,Sometimes,no,2.535629,no,0.152713,0.770200,Sometimes,Public_Transportation,Obesity_Type_III,Matured
659,Female,21.000000,1.520000,42.000000,no,yes,3.000000,1.000000,Frequently,no,1.000000,no,0.000000,0.000000,Sometimes,Public_Transportation,Insufficient_Weight,Very Young
714,Female,19.349258,1.523370,42.000000,no,yes,2.913486,1.060796,Frequently,no,1.596212,no,0.108948,0.773087,Sometimes,Public_Transportation,Insufficient_Weight,Very Young
301,Male,18.000000,1.720000,55.000000,no,yes,2.000000,4.000000,Sometimes,no,2.000000,no,2.000000,1.000000,Sometimes,Public_Transportation,Normal_Weight,Very Young
868,Female,21.837058,1.558045,63.597633,no,yes,2.539150,1.590982,Sometimes,no,1.977801,no,1.264616,0.000000,Sometimes,Public_Transportation,Overweight_Level_I,Very Young
1219,Male,24.079524,1.733439,97.911865,yes,yes,2.000000,3.000000,Sometimes,no,2.843675,no,1.309304,1.338655,no,Public_Transportation,Obesity_Type_I,Very Young
548,Female,19.314964,1.661403,49.932199,no,yes,2.205439,3.000000,Sometimes,no,1.530531,no,2.000000,1.000000,Sometimes,Public_Transportation,Insufficient_Weight,Very Young
645,Female,21.125098,1.767479,56.265959,yes,yes,2.371338,3.998766,Frequently,no,2.263466,no,2.000000,0.844004,no,Public_Transportation,Insufficient_Weight,Very Young
1658,Male,30.424369,1.699354,100.176866,yes,yes,2.819934,1.918630,Sometimes,no,1.000000,no,1.393020,0.553311,no,Public_Transportation,Obesity_Type_II,Matured
549,Female,29.970445,1.610863,49.516027,yes,yes,2.059138,3.904858,Frequently,no,2.000000,no,0.821977,0.000000,no,Public_Transportation,Insufficient_Weight,Matured
1071,Female,20.843363,1.521008,67.083121,yes,no,2.493448,3.000000,Sometimes,no,1.849997,no,0.954459,1.444532,no,Public_Transportation,Overweight_Level_II,Very Young

In [73]:
df4 = obesity_data.copy()
df4.insert(4, "BMI", df4["Weight"].apply(lambda x: 18 if x<90 else(20 if x<120 else 25)))
df4.insert(5, 'Actual BMI', df4['Weight']/df4['Height']**2)
df4.sample(13)

,Gender,Age,Height,Weight,BMI,Actual BMI,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1162,Female,41.743333,1.678610,79.849252,18,28.338133,yes,yes,2.733129,3.000000,Sometimes,no,1.302594,no,0.000000,1.103349,no,Automobile,Overweight_Level_II
1506,Male,21.353237,1.709731,95.032177,20,32.509860,yes,yes,2.000000,2.973476,Sometimes,no,2.000000,no,0.000000,1.331527,no,Public_Transportation,Obesity_Type_I
1473,Female,22.956845,1.618686,81.281578,18,31.021794,yes,yes,2.396265,1.073421,Sometimes,no,1.979833,no,0.022598,0.061282,no,Public_Transportation,Obesity_Type_I
1345,Female,19.431662,1.631662,82.000000,18,30.800194,yes,yes,2.843456,2.937989,Sometimes,no,1.001995,no,0.000000,1.554404,no,Public_Transportation,Obesity_Type_I
25,Male,20.000000,1.600000,50.000000,18,19.531250,yes,no,2.000000,4.000000,Frequently,yes,2.000000,no,3.000000,2.000000,no,Public_Transportation,Normal_Weight
827,Female,38.943282,1.554728,63.011645,18,26.068256,yes,yes,2.869436,3.000000,Sometimes,no,2.972426,no,2.160790,0.305954,Sometimes,Automobile,Overweight_Level_I
1663,Male,24.079971,1.619810,98.543020,20,37.557590,yes,yes,2.958410,2.434347,Sometimes,no,1.000000,no,1.930033,0.754023,no,Public_Transportation,Obesity_Type_II
845,Female,21.455463,1.611000,68.107866,18,26.242560,yes,yes,1.977298,3.554974,no,no,2.217957,no,0.978120,0.459759,Sometimes,Public_Transportation,Overweight_Level_I
1839,Female,18.367481,1.745644,133.665587,25,43.864002,yes,yes,3.000000,3.000000,Sometimes,no,2.900857,no,1.508897,0.625371,Sometimes,Public_Transportation,Obesity_Type_III
1916,Female,26.000000,1.627880,104.920570,20,39.592768,yes,yes,3.000000,3.000000,Sometimes,no,2.588107,no,0.000000,0.465607,Sometimes,Public_Transportation,Obesity_Type_III
692,Male,18.000000,1.767058,51.132809,18,16.375631,yes,yes,2.708965,3.000000,Sometimes,no,1.873004,no,1.217180,1.000000,Sometimes,Public_Transportation,Insufficient_Weight
788,Male,23.172982,1.858624,88.675503,18,25.669687,yes,yes,2.000000,2.776840,Sometimes,no,1.278231,no,0.557130,1.000000,Sometimes,Automobile,Overweight_Level_I
357,Female,17.000000,1.700000,56.000000,18,19.377163,yes,yes,1.000000,3.000000,Sometimes,no,1.000000,no,1.000000,1.000000,no,Automobile,Normal_Weight

In [80]:
del_df4 = df4.drop(columns=['BMI','Actual BMI'])
del_df4.sample()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
1936,Female,22.77789,1.661415,120.748213,yes,yes,3.0,3.0,Sometimes,no,1.91039,no,0.217455,0.77582,Sometimes,Public_Transportation,Obesity_Type_III

In [11]:
df5 = pd.DataFrame({
    'id' : [1,2,3,4],
    'name' : ['Kreeti', 'Amin', 'Maya','Keshav']
})

df6 = pd.DataFrame({
    'id' : [3,4, 5,6],
    'course' : ['GenAI', 'LLM', 'CPP', 'HLD']
})
# inner_result = pd.merge(df5, df6, how='inner', on='id')
# outer_result = pd.merge(df5, df6, how='outer', on='id')
left_result = pd.merge(df5, df6, how='left', on='id')
right_result = pd.merge(df5, df6, how='right', on='id')

left_result, right_result

(   id    name course
 0   1  Kreeti    NaN
 1   2    Amin    NaN
 2   3    Maya  GenAI
 3   4  Keshav    LLM,
    id    name course
 0   3    Maya  GenAI
 1   4  Keshav    LLM
 2   5     NaN    CPP
 3   6     NaN    HLD)

In [15]:
df11 = pd.DataFrame({
    'id1' : [1,2,3,4],
    'name' : ['Kreeti', 'Amin', 'Maya','Keshav']
})

df12 = pd.DataFrame({
    'id2' : [3,4, 5,6],
    'course' : ['GenAI', 'LLM', 'CPP', 'HLD']
})
outer= pd.merge(df11, df12, how='outer', left_on='id1', right_on='id2')
outer

   id1    name  id2 course
0  1.0  Kreeti  NaN    NaN
1  2.0    Amin  NaN    NaN
2  3.0    Maya  3.0  GenAI
3  4.0  Keshav  4.0    LLM
4  NaN     NaN  5.0    CPP
5  NaN     NaN  6.0    HLD

In [34]:
frames = [df11, df12]
result = pd.concat(frames, axis=0, keys=['df11', 'df12'])
# this is example of Multilevel Indexing
# result
result.isna(), result, result.notna()

(          id1   name    id2  course
 df11 0  False  False   True    True
      1  False  False   True    True
      2  False  False   True    True
      3  False  False   True    True
 df12 0   True   True  False   False
      1   True   True  False   False
      2   True   True  False   False
      3   True   True  False   False,
         id1    name  id2 course
 df11 0  1.0  Kreeti  NaN    NaN
      1  2.0    Amin  NaN    NaN
      2  3.0    Maya  NaN    NaN
      3  4.0  Keshav  NaN    NaN
 df12 0  NaN     NaN  3.0  GenAI
      1  NaN     NaN  4.0    LLM
      2  NaN     NaN  5.0    CPP
      3  NaN     NaN  6.0    HLD,
           id1   name    id2  course
 df11 0   True   True  False   False
      1   True   True  False   False
      2   True   True  False   False
      3   True   True  False   False
 df12 0  False  False   True    True
      1  False  False   True    True
      2  False  False   True    True
      3  False  False   True    True)

In [67]:
df_na = obesity_data.copy()
df_na.loc[0:1, ['Age', 'SMOKE']]= np.nan

#  to fill NaN values in df_na['Age'] using the mean of only the first 10 rows
# df_na['Age'] = df_na['Age'].fillna(df_na['Age'][:10].mean())
# df_na["SMOKE"] = df_na["SMOKE"].fillna('no')
df_na.dropna(inplace=True)
df_na.head()

,Gender,Age,Height,Weight,family_history,FAVC,FCVC,NCP,CAEC,SMOKE,CH2O,SCC,FAF,TUE,CALC,MTRANS,Obesity
2,Male,23.0,1.80,77.0,yes,no,2.0,3.0,Sometimes,no,2.0,no,2.0,1.0,Frequently,Public_Transportation,Normal_Weight
3,Male,27.0,1.80,87.0,no,no,3.0,3.0,Sometimes,no,2.0,no,2.0,0.0,Frequently,Walking,Overweight_Level_I
4,Male,22.0,1.78,89.8,no,no,2.0,1.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Public_Transportation,Overweight_Level_II
5,Male,29.0,1.62,53.0,no,yes,2.0,3.0,Sometimes,no,2.0,no,0.0,0.0,Sometimes,Automobile,Normal_Weight
6,Female,23.0,1.50,55.0,yes,yes,3.0,3.0,Sometimes,no,2.0,no,1.0,0.0,Sometimes,Motorbike,Normal_Weight

In [83]:
df_group= obesity_data.copy()
df_group.groupby('Gender')["Weight"].median()
# df_group.groupby('Gender')["Age"].median()

Gender
Female    78.00000
Male      89.94547
Name: Weight, dtype: float64